@import "./config/variables";

.menu {
  background-color: $primary-color;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menuList {
    font-family: "Futura-Light", -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: $primary-text-color;
    list-style: none;
    display: flex;
    align-items: center;
    line-height: 20px;
    .menuListItem {
      position: relative;
      cursor: pointer;
      .cartBadge {
        height: 20px;
        width: 20px;
        background-color: $secondary-color;
        color: $primary-color;
        position: absolute;
        top: -20px;
        right: -20px;
        font-size: 12px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $bold-font-family;
      }
    }
    .menuListItem:not(:first-child) {
      margin-left: 35px;
    }
    .menuListItemActive {
      color: $secondary-color;
    }
  }
}
